{% extends 'base.html' %}
{% block content %}

<div class="messages-conatiner bg-success">
    {% if messages %}
        {% for message in messages %}
        <p class="bg-success p-3 text-center text-capitalize">{{ message }}</p>
        {% endfor %}
    {% endif %}
</div>
{% comment %} <p class="bg-primary p-3 text-center text-capitalize text-muted ">message</p> {% endcomment %}
<div class="container-fluid">
    <div class="row px-4">
        <div class="col-md-4 py-5">

            <form method="POST" action=".">
                {% csrf_token %}
                {{ form }}
                <br><input type="submit" class="btn btn-primary" value="submit">
            </form>
        </div>
        <div class="col-md-8">
            <div class="py-4 px-3 d-flex justify-content-around">
                <p class="h5">left to do task: {{total_task}}</p>
                <p class="h5">completed task: {{completed_task}}</p>
            </div>
            <ol class="list-group list-group-flush" type="1">
                {% for task in object_list %}
                    <li href="#" {% if task.is_completed == True %}style="background-color: #a3ffb5;color: #5f5f5f ;"{% else %}style="background-color: #78b2ff;"{% endif %} class="list-group-item list-group-item-action d-flex justify-content-between">
                        <div class="">
                            {% comment %} <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox"> {% endcomment %}
                            {% if task.is_completed == True %}
                                <label style="text-decoration:line-through;">{{task.title}}<br>{{task.description}}</label>
                            {% else %}  
                                <label>{{task.title}}<br>{{task.description}}</label>
                            {% endif %}
                        </div>
                        <div class="">
                            {% if task.is_completed == True %}
                                <a class="btn btn-success btn-sm {% if task.is_completed == True %}disabled{% endif %}" href="{% url 'task:toggle' task.id%}">{% if task.is_completed == False %} incomplete {% else %} completed {% endif %}</a>
                                <a class="btn btn-secondary btn-sm {% if task.is_completed == True %}disabled{% endif %}" href="{% url 'task:edit_task' task.id %}">Edit</a>
                            {% else %}
                                <a class="btn btn-success btn-sm" href="{% url 'task:toggle' task.id%}">{% if task.is_completed == False %} incomplete {% else %} completed {% endif %}</a>
                                <a class="btn btn-secondary btn-sm" href="{% url 'task:edit_task' task.id %}">Edit</a>
                            {% endif %}
                            <a class="btn btn-danger btn-sm" href="{% url 'task:delete_task' task.id %}">Delete</a>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
  


{% endblock content%}