<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Todo list</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'task:TaskClassView' %}">Task</a>
          </li>
          {% if request.user.is_authenticated %}
          <form method="GET" action="" class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" placeholder="search" name="search">
              <button type="submit" class="btn btn-default border">submit</button>
            </div>
          </form>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'useraccount:userlogout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'useraccount:userlogin' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'useraccount:usersignup' %}">Signup</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link ">{{request.user}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>