body{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.col ol{
    padding:0px;
    margin:0px;
    padding:5px 0 0 5px;
}
.col ol li{
    list-style: none;
    line-height: 5px;
}
.task_container{
    background-color:#eee;
    border-radius: 10px;
    margin-bottom: 5px;
}
.container{
    background-color: antiquewhite;
}
